{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="section-title">Switches</h2>
                <div class="card">
                    <table class="row-border">
                        <thead>
                            <tr>
                                <th>IP Address</th>
                                <th>Vendor</th>
                                <th>Uplink ports</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for switch in data %}
                            <tr>
                                <td><a class="action" href="">{{ switch['ipaddress'] }}</a></td>
                                <td>{{ switch['vendor'] }}</td>
                                <td>{{ switch['uplinkports'] }}</td>
                                <td><a class="waves-effect waves-light btn">Edit</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a class="waves-effect waves-light btn" href="{{ url_for('switch.add') }}"><i class="material-icons right">add</i>Add</a>

            </div>
        </div>
    </div>
{% endblock %}