{% extends 'base.html' %}
{% block header %}
<div class="navbar-fixed">
    <nav class="navbar white">
      <div class="nav-wrapper"><a href="#!" class="brand-logo grey-text text-darken-4">Home</a>
        <ul id="nav-mobile" class="right">  
        </ul><a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
      </div>
    </nav>
  </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="section-title">Switches</h2>
                <div class="card">
                    <table class="row-border">
                        <thead>
                            <tr>
                                <th>IP Address</th>
                                <th>Vendor</th>
                                <th>Uplink ports</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for switch in data %}
                            <tr>
                                <td><a class="action" href="">{{ switch['ipaddress'] }}</a></td>
                                <td>{{ switch['vendor'] }}</td>
                                <td>{{ switch['uplinkports'] }}</td>
                                <td><a href="{{ url_for('switch.edit', id=switch['id'])}}" class="waves-effect waves-light btn">Edit</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a class="waves-effect waves-light btn" href="{{ url_for('switch.add') }}"><i class="material-icons right">add</i>Add</a>

            </div>
        </div>
    </div>
{% endblock %}