{% extends 'base.html' %}
{% block header %}
<div class="navbar-fixed">
    <nav class="navbar white">
      <div class="nav-wrapper"><a href="#!" class="brand-logo grey-text text-darken-4">Home</a>
        <ul id="nav-mobile" class="right">  
        </ul><a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
      </div>
    </nav>
  </div>
{% endblock %}
{% block content %}    
    <div class="container">
        <form action="" method="post" novalidate>
            <div class="row">
                <div class="col s12"><h2 class="section-title">Edit switch</h2></div>
                        {{ form.hidden_tag() }}
                        <div class="input-field col s6">
                            {{ form.ipaddress.label() }}
                            {{ form.ipaddress(size=15) }}
                            {% for error in form.ipaddress.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="input-field col s6">
                            {{ form.vendor.label(class_="active") }}
                            {{ form.vendor(size=16) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form.uplinkports.label(class_="active") }}
                            {{ form.uplinkports(size=32) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form.community.label(class_="active") }}
                            {{ form.community(size=32) }}                            
                        </div>
                        <div class="col s6">
                            {{ form.submit(class_="btn") }}
                        </div>
            </div>
        </form>
    </div>
{% endblock %}